<kendo-grid [data]="gridData"
            [pageSize]="pageSize"
            [skip]="skip"
            [pageable]="true"
            (dataStateChange)="onStateChange($event)"
            (edit)="editHandler($event)"
            (cancel)="cancelHandler($event)"
            (save)="saveHandler($event)"
            (remove)="removeHandler($event)"
            (add)="addHandler($event)"
            (pageChange)="pageChange($event)"
            [height]="600">
  <ng-template kendoGridToolbarTemplate>
    <button kendoGridAddCommand>Add new</button>
  </ng-template>
  <kendo-grid-column field="brochureName" title="Name" width="200">
  </kendo-grid-column>

  <kendo-grid-column field="authors" title="Authors" width="250">
    <ng-template kendoGridCellTemplate let-dataItem>

      <ul>
        <li *ngFor="let author of dataItem.authors">
          {{ author.authorName }}
        </li>
      </ul>

    </ng-template>
    <ng-template kendoGridEditTemplate
                 let-dataItem="dataItem"
                 let-formGroup="formGroup">
      <kendo-multiselect [data]="allAuthors"
                         [textField]="'authorName'"
                         [valueField]="'authorId'"
                         [formControl]="formGroup.get('authors')"
                         [placeholder]="'Select authors...'">
      </kendo-multiselect>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="publisher" title="Publisher" width="200">
  </kendo-grid-column>
  <kendo-grid-column field="pages" title="Pages" width="80" editor="numeric">
  </kendo-grid-column>
  <kendo-grid-command-column title="command" width="200">
    <ng-template kendoGridCellTemplate let-isNew="isNew">
      <button kendoGridEditCommand class="k-primary">Edit</button>
      <button kendoGridRemoveCommand>Remove</button>
      <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
      <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
    </ng-template>
  </kendo-grid-command-column>
</kendo-grid>















