<kendo-grid [data]="gridData"
            [height]="410"
            [pageSize]="pageSize"
            [skip]="skip"
            [pageable]="true"
            (pageChange)="pageChange($event)">

  <kendo-grid-column field="paperProductName" title="Name" width="200">
  </kendo-grid-column>
  <kendo-grid-column field="type" title="Type" width="100">
  </kendo-grid-column>
  <kendo-grid-column field="authors" title="Authors" width="250">
    <ng-template kendoGridCellTemplate let-dataItem>
      <ul>
        <li *ngFor="let author of dataItem.authors">
          {{ author.authorName }}
        </li>
      </ul>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="publisher" title="Publisher" width="200">
  </kendo-grid-column>
  <kendo-grid-column field="pages" title="Pages" width="80" editor="numeric">
  </kendo-grid-column>
</kendo-grid>
    `
